services:
  nginx:
    image: secultceara/nginx:latest
    restart: unless-stopped
    volumes:
      - /dev/null:/var/www/html/index.php
      - public-files:/var/www/html/files
      - assets:/var/www/html/assets
      - ./config/nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "8080:80"
    depends_on:
      - mapasculturais
    links:
      - mapasculturais
    networks:
      - mapasculturais

  mapasculturais:
    image: secultceara/mapasculturais:latest
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - assets:/var/www/html/assets
      - public-files:/var/www/html/files
      - private-files:/var/www/private-files
      - saas-files:/var/www/SaaS
      - sessions:/var/www/var/sessions
      - logs:/var/www/var/logs
    links:
      - redis
      - sessions

    depends_on:
      - db
      - redis
      - sessions
    networks:
      - mapasculturais

  db:
    image: secultceara/postgis:14
    restart: unless-stopped
    env_file:
      - .env
    environment:
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
    networks:
      - mapasculturais

  redis:
    image: redis:6
    command: --maxmemory 1256Mb --maxmemory-policy allkeys-lru
    restart: unless-stopped
    networks:
      - mapasculturais
  
  sessions:
    image: redis:6
    command: --maxmemory 384Mb --maxmemory-policy allkeys-lru
    restart: unless-stopped
    volumes:
      - sessions:/data
    networks:
      - mapasculturais

networks:
  mapasculturais:

volumes:
  assets:
  db-data:  
  logs:
  private-files:
  public-files:
  saas-files:
  sessions:




